h1 {
  font-size: clamp(100px, 10vw, 150px);
}

.red {
  color: red;
}

.c-titulo {
  font-size: min(100px, 10vw);
}

.c-titulo2 {
  font-size: max(100px, 10vw);
}

.c-titulo3 {
  font-size: calc(10vw - 10px);
}

.c-titulo4 {
  font-size: clamp(40px, calc(10vw - 10px), 100px);
}

.c-table {
  overflow: auto;
}

.c-table__head--min-width-1 {
  min-width: 100px;
}
.c-table__head--min-width-2 {
  min-width: 150px;
}
.c-table__head--min-width-3 {
  min-width: 200px;
}
.c-table__head--max-width-1 {
  max-width: 100px;
}
.c-table__head--max-width-2 {
  max-width: 150px;
}
.c-table__head--max-width-3 {
  max-width: 200px;
}


/*Fluido con imagen*/
.c-img{
  display: block;
}

.c-img--fluida{
  width: 100vw;
}