.l-columns{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr));


 @for $i from 1 to 9{
      &--#{$i}{
          grid-template-columns: repeat($i, 1fr);
      }
 }



 
@each $media, $mediavalue in $medias{

    @media (min-width: $mediavalue) {

        @for $i from 1 to 9{
            &--#{$i}\@#{$media}{
                grid-template-columns: repeat($i, 1fr);
            }
       }
        
    }
}


}

